@media screen and (max-width:900px){
  .header{
    height:700px;
  }
  .header .text-header {
    height: 50%;
    width:100%;
}

.header .Big-Title{
    height: 50%;
    width:80%;
    position: relative;
}


.header .Big-Title h2{
    color: #fff;
    font-size: 30px;
    line-height:2;
    padding: 10px 0px ;
}

  .header .buttons{
    height: 40%;
    width:80%;

}

.header .button{
    width: 80%;
    padding: 16px 7px;
    margin: 12px;
    font-size: 18px;
    
}

  #about {
    height:1100px;
    text-algin:left;
    
  }

  #about p{
    padding: 5px 12px;
    font-size:19px;
    text-algin:left;
  }
  #about .buttons{
    height: 40%;
    width:80%;

}

#about .button{
    width: 80%;
    padding: 16px 7px;
    margin: 12px;
    font-size: 18px;
    
}
  

  

}
