@media screen and (max-width:900px){
  .header{
    height:800px;
  }
  .header .text-header {
    height: 50%;
    width:100%;
}

.header .Big-Title{
    height: 50%;
    width:80%;
    position: relative;
}


.header .Big-Title h2{
    color: #fff;
    font-size: 30px;
    line-height:2;
    padding: 10px 0px ;
}

  .header .buttons{
    height: 40%;
    width:80%;

}

.header .button{
    width: 80%;
    padding: 10px 7px;
    margin: 12px;
    font-size: 17px;
    
}

  #about {
    height:900px;
  }

  #about p{
    padding: 5px 12px;
  }

  

}
