@media screen and(max-width:900px){
  .header{
    height:1000px;
  }
  .header .text-header {
    height: 90%;
    width:100%;
}

.header .Big-Title{
    height: 70%;
    width:100%;
    position: relative;
}


.header .Big-Title h2{
    color: #fff;
    font-size: 30px;
    line-height:2;
    padding: 10px 0px ;
}

  .header .buttons{
    height: 40%;
    width:100%;

}

.header .button{
    width: 80%;
    padding: 10px 7px;
    margin: 12px;
    font-size: 17px;
    
}

  

}
